<div class="container">
	<footer class="footer">
		<small>Copyright &copy; <a href="https://alpha-blog-bakir.herokuapp.com/">Food Order System</a> by <a href="https://www.linkedin.com/in/bakir-sharaf-276baa86/">Bakir Sharaf</a></small>
		<nav>
			<ul><li><%= link_to 'About', root_path %></li></ul>
		</nav>
	</footer>
</div>